@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css');

.notification {
  user-select: none;
}
.notification.is-success {
  text-decoration: line-through;
}
.notification.is-editable {
  user-select: auto;
}
